<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="dotnet-core" value="https://dotnet.myget.org/F/dotnet-core/api/v3/index.json" />
    <add key="aspnet-core-dev" value="https://dotnet.myget.org/f/aspnetcore-dev" />
    <add key="aspnet-core-master" value="https://dotnet.myget.org/f/aspnetcore-master" />
  </packageSources>
</configuration>
